  <div class="bounds"  fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <div >
        <h1>
            Oops!</h1>
        <h2>
            404 página no encontrada</h2>
        <div class="error-details">
            Lo sentimos, se ha producido un error. ¡No se encontró la página solicitada!
        </div>
        <div style="padding-top: 10px;">
            <button type="button" class="btn btn-outline-primary" routerLink="/home">Volver página principal</button>
        </div>
    </div>
</div>